ztintor_aplikacija_2/ztintor_aplikacija_2-war/web/WEB-INF/wsdl/localhost_8084/ztintor_aplikacija_1/MeteoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.ztintor.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.ztintor.nwtis.foi.org/" name="MeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.ztintor.nwtis.foi.org/" schemaLocation="http://localhost:8084/ztintor_aplikacija_1/MeteoWS?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://api.wxbug.net/" schemaLocation="http://localhost:8084/ztintor_aplikacija_1/MeteoWS?xsd=2" />
</xsd:schema>
</types>
<message name="dajSveZipKodove">
<part name="parameters" element="tns:dajSveZipKodove" />
</message>
<message name="dajSveZipKodoveResponse">
<part name="parameters" element="tns:dajSveZipKodoveResponse" />
</message>
<message name="dajZipKodoveZaInterval">
<part name="parameters" element="tns:dajZipKodoveZaInterval" />
</message>
<message name="dajZipKodoveZaIntervalResponse">
<part name="parameters" element="tns:dajZipKodoveZaIntervalResponse" />
</message>
<message name="dajMeteoWSPodatkeZaZip">
<part name="parameters" element="tns:dajMeteoWSPodatkeZaZip" />
</message>
<message name="dajMeteoWSPodatkeZaZipResponse">
<part name="parameters" element="tns:dajMeteoWSPodatkeZaZipResponse" />
</message>
<message name="dajNajcescihNZipKodova">
<part name="parameters" element="tns:dajNajcescihNZipKodova" />
</message>
<message name="dajNajcescihNZipKodovaResponse">
<part name="parameters" element="tns:dajNajcescihNZipKodovaResponse" />
</message>
<message name="dajZadnjihNZipKodova">
<part name="parameters" element="tns:dajZadnjihNZipKodova" />
</message>
<message name="dajZadnjihNZipKodovaResponse">
<part name="parameters" element="tns:dajZadnjihNZipKodovaResponse" />
</message>
<portType name="MeteoWS">
<operation name="dajSveZipKodove">
<input wsam:Action="http://serveri.ws.ztintor.nwtis.foi.org/MeteoWS/dajSveZipKodoveRequest" message="tns:dajSveZipKodove" />
<output wsam:Action="http://serveri.ws.ztintor.nwtis.foi.org/MeteoWS/dajSveZipKodoveResponse" message="tns:dajSveZipKodoveResponse" />
</operation>
<operation name="dajZipKodoveZaInterval">
<input wsam:Action="http://serveri.ws.ztintor.nwtis.foi.org/MeteoWS/dajZipKodoveZaIntervalRequest" message="tns:dajZipKodoveZaInterval" />
<output wsam:Action="http://serveri.ws.ztintor.nwtis.foi.org/MeteoWS/dajZipKodoveZaIntervalResponse" message="tns:dajZipKodoveZaIntervalResponse" />
</operation>
<operation name="dajMeteoWSPodatkeZaZip">
<input wsam:Action="http://serveri.ws.ztintor.nwtis.foi.org/MeteoWS/dajMeteoWSPodatkeZaZipRequest" message="tns:dajMeteoWSPodatkeZaZip" />
<output wsam:Action="http://serveri.ws.ztintor.nwtis.foi.org/MeteoWS/dajMeteoWSPodatkeZaZipResponse" message="tns:dajMeteoWSPodatkeZaZipResponse" />
</operation>
<operation name="dajNajcescihNZipKodova">
<input wsam:Action="http://serveri.ws.ztintor.nwtis.foi.org/MeteoWS/dajNajcescihNZipKodovaRequest" message="tns:dajNajcescihNZipKodova" />
<output wsam:Action="http://serveri.ws.ztintor.nwtis.foi.org/MeteoWS/dajNajcescihNZipKodovaResponse" message="tns:dajNajcescihNZipKodovaResponse" />
</operation>
<operation name="dajZadnjihNZipKodova">
<input wsam:Action="http://serveri.ws.ztintor.nwtis.foi.org/MeteoWS/dajZadnjihNZipKodovaRequest" message="tns:dajZadnjihNZipKodova" />
<output wsam:Action="http://serveri.ws.ztintor.nwtis.foi.org/MeteoWS/dajZadnjihNZipKodovaResponse" message="tns:dajZadnjihNZipKodovaResponse" />
</operation>
</portType>
<binding name="MeteoWSPortBinding" type="tns:MeteoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="dajSveZipKodove">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajZipKodoveZaInterval">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajMeteoWSPodatkeZaZip">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajNajcescihNZipKodova">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajZadnjihNZipKodova">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="MeteoWS">
<port name="MeteoWSPort" binding="tns:MeteoWSPortBinding">
<soap:address location="http://localhost:8084/ztintor_aplikacija_1/MeteoWS" />
</port>
</service>
</definitions>